@import "tailwindcss";

.react-international-phone-country-selector-button{
    height: 100% !important;
    padding-left: 2px !important;
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}